.card{
    width: 100px;
    height: 140px;
    margin: 10px 2px;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    color: #ffffff;
    font-size: 50px;
    border-radius: 6px;
    border: 7px solid #fff;
    margin-left: -25px;
    margin-right: -25px;
}

#drawCardPile{
  overflow: visible;
}

@keyframes cardDrawBack {
  0% {transform: scale(1,1); -webkit-transform: scale(1,1)}
  50% {transform: scale(1.5,1.5) rotateY(0.8); -webkit-transform: scale(1.5,1.5) rotateY(0);}
  100% {transform: scale(1.5,1.5) rotateY(180deg); -webkit-transform: scale(1.5,1.5) rotateY(180deg)}
}

@keyframes cardDrawFront {
  0% {transform: scale(1,1); -webkit-transform: scale(1,1)}
  30% {transform: scale(1.5,1.5) rotateY(180deg); -webkit-transform: scale(1.5,1.5) rotateY(180deg);}
  60% {transform: translate(0,0) scale(1.5,1.5) rotateY(0); -webkit-transform: translate(0,0) scale(1.5,1.5) rotateY(0); z-index: 1;}
  90% {transform: translate(-250px, 0) scale(1.5,1.5) rotateY(0); -webkit-transform: scale(1.5,1.5) rotateY(0); z-index: 1; opacity: 1;}
  100% {transform: translate(-250px, 0) scale(1.5,1.5) rotateY(0); -webkit-transform: scale(1.5,1.5) rotateY(0); z-index: 1; opacity: 0;}
}

@keyframes slideDown {
  0% {bottom: 0;}
  100% {bottom: -100px;}
}

@keyframes slideRight {
  0% {right: 0;}
  100% {right: -100px;}
}

@keyframes slideLeft {
  0% {left: 0;}
  100% {left: -100px;}
}

@keyframes slideUp {
  0% {top: 0;}
  100% {top: -100px;}
}


.drawCardAnimationBack{
    position: absolute;
    backface-visibility: hidden;
    margin-left: -75px;
    animation-name: cardDrawBack;
    animation-duration: 0.6s;
    -webkit-animation-name: cardDrawBack;
    -webkit-animation-duration: 0.6s;
}


.drawCardAnimationFront{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    position: relative;
    backface-visibility: hidden;
    animation: cardDrawFront 1s;
    -webkit-animation: cardDrawFront 1s;
}

.drawCardAnimationFrontDown{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    position: relative;
    backface-visibility: hidden;
    animation: cardDrawFront 1s, slideDown 0.4s 0.6s;
    -webkit-animation: cardDrawFront 1s, slideDown 0.4s 0.6s;
}

.drawCardAnimationFrontRight{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    position: relative;
    backface-visibility: hidden;
    animation: cardDrawFront 1s, slideRight 0.4s 0.6s;
    -webkit-animation: cardDrawFront 1s, slideRight 0.4s 0.6s;
}

.drawCardAnimationFrontLeft{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    position: relative;
    backface-visibility: hidden;
    animation: cardDrawFront 1s, slideLeft 0.4s 0.6s;
    -webkit-animation: cardDrawFront 1s, slideLeft 0.4s 0.6s;
}

.drawCardAnimationFrontUp{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    position: relative;
    backface-visibility: hidden;
    animation: cardDrawFront 1s, slideUp 0.4s 0.6s;
    -webkit-animation: cardDrawFront 1s, slideUp 0.4s 0.6s;
}










.wildStyle{
height: 100vh;
}

.custom-border {
    border-style: inset;
    background-color: #87ceeb;
}

body {
    background-color: #c9e9f6;
}

.my-card{
    position: relative;
    top: 0;
    transition: top 0.5s ease, margin-right 0.5s, margin-left 0.5s;
    transition-delay: 0.1s;
    -webkit-transition: top 0.5s ease, margin-right 0.5s, margin-left 0.5s;
    -webkit-transition-delay: 0.1s;
}

.my-card:hover{
    cursor: pointer;
    top: -20px;
    margin-right: 10px;
    margin-left: 10px;
}

.sideHand > .card{
  margin-right: 0;
  margin-left: 0;
  margin-bottom: -60px;
  width: 140px;
  height: 100px;
}