#drawCardPile {
  overflow: visible;
  width: 500px;
  height: 178px;
  margin-left: -192px;
}

#drawCardPile > .card {
  margin-top: -7px;
}

.drawCardContainer {
  display: inline-block;
}

.activePlayer {
  font-weight: bold;
  color: #000;
}

.wildStyle {
  height: 100vh;
}

.custom-border {
  border-style: inset;
  background-color: #87ceeb;
}

body {
  background-color: #c9e9f6;
}

.my-card {
  position: relative;
  top: 0;
  transition: top 0.5s ease, margin-right 0.5s, margin-left 0.5s;
  transition-delay: 0.1s;
}

.my-card:hover {
  cursor: pointer;
  top: -20px;
  margin-right: 10px;
  margin-left: 10px;
}

.sideHand > .card {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: -60px;
  width: 140px;
  height: 100px;
}

h3 {
  font-weight: normal;
  color: gray;
}

li {
  margin-bottom: 5px;
}

.center-card-hands {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.unoButton {
  animation-name: unoButtonInvalid;
  animation-duration: 0.5s;
}
